#canvasContainer {
    position: relative;
    width: 600px;
}

#canvas {
    z-index: 1;
}

#prizePointer {
    position: absolute;
    left: 100%;
    top: 50%;
    z-index: 999;
}

/* Arrow head */
#prizePointer::before {
    transform: translateY(-50%);
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 60px solid black;
    border-bottom: 30px solid transparent;
}

/* Arrow shaft */
#prizePointer::after {
    content: "";
    position: absolute;
    left: 60px;
    top: -15px;
    width: 30px;
    height: 25px;
    background: black;
}

