html,
body {
    min-height: 100vh;
}

body {
    margin: 0;
    background-image: url("/img/chess2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 100px;
    margin-top: 40px;
}

.rule-card {
    width: 300px;
    background: rgba(30, 30, 30, 0.85);
    border: 1px solid rgba(255,255,255,0.15);
    backdrop-filter: blur(8px);
    color: white;
}

.rule-header {
    background: transparent;
    color: gold;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

#ruleList {
    max-height: 70vh;}


.wheel-wrapper {
    display: flex;
    align-items: center;
    gap: 150px;
}

.spin-btn {
    position: static;
    transform: none;
}

#canvasContainer {
    position: relative;
    width: min(90vw, 600px);
    height: auto;}

#canvas {
    z-index: 1;
}

#prizePointer {
    position: absolute;
    right: -0px;
    top: 50%;
    z-index: 999;
}

/* Arrow head */
#prizePointer::before {
    transform: translateY(-50%);
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 60px solid greenyellow;
    border-bottom: 30px solid transparent;
    z-index: 2;
}

/* Arrow shaft */
#prizePointer::after {
    content: "";
    position: absolute;
    left: 58px;
    top: -15px;
    width: 30px;
    height: 25px;
    background: greenyellow;
    border-left: transparent;
    z-index: 1;
}

